*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/bg_1.jpg);
    backdrop-filter: blur(3px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 3;
}

header{
    .navbar{
        background-color: rgba(141, 207, 103, 0.308);
        backdrop-filter: blur(2px);
        border-radius: 0 0 10% 10% ;
        div{
            img{
                width: 300px;
                border-radius: 50%;
                box-shadow: 1px 1px 20px;
            }
        }
    }
}
.navbar-nav{
align-items: center;
}


main{
    h1{
        padding-top: 20px;
        text-align: center;
        color:rgb(0, 0, 0);
    }
}
.container1{
    div{
        h2{
            color: #000;
        }
        p{
            color: #000;
        }
    }
}

footer {
    background-color:rgba(141, 207, 103, 0.308);
    backdrop-filter: blur(2px);
    margin-top: 2em;
    border-radius: 15% 15% 0 0;
    p{
        margin: 0 0 0 0;
        color: black;
    }
    .p-in{
        padding-top: 1em;
        text-align: center;
        font-size: 1.5em;
        padding-bottom: 0.5em;
    }
    .p-out{
        text-align: center;
        padding-top: 1em;
        margin-bottom: 0;
        font-size: 1em;
    }
    div{
        display: flex;
        gap:4em;
        justify-content: center;
        .fa-brands{
            font-size: 2em;
        }
        a{
            transition: all 0.3s ease-in-out;
            color: rgb(0, 97, 13);
        }
        a:hover{
            transition: color 0.3s ease-out;
            color:rgb(255, 255, 255);
        }
    }
}

.button{
    background-color: rgba(141, 207, 103, 0.308);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    border: 0%;
    border-radius: 5px;
    box-shadow: 8px -3px 5px 0px rgba(0,0,0,0.29);
-webkit-box-shadow: 8px -3px 5px 0px rgba(0,0,0,0.29);
-moz-box-shadow: 8px -3px 5px 0px rgba(0,0,0,0.29);
    padding: 1em 1em ;
    transition: all 0.2s ease-in-out;
}
.button:hover{
    transform: scale(1.05);
}

.mdl-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width:100vw;
    opacity: 0;
    .mdl{
        background-color: antiquewhite;
        width: 38em ;
        border: #000 solid;
        border-radius: 15px 15px 15px 15px;
        padding: 1em 1em 1em 1em;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        transition: all 0.2s ease-in-out;
    }
    .mdl:hover{
        transform: scale(1.05);
    }
        p{
            opacity: 0.6;
        }
    }

.show{
    pointer-events: auto;
    opacity: 1;
}

#close{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.5em;
    border-radius: 5px;
    box-shadow: 8px -3px 5px 0px rgba(0,0,0,0.29);
-webkit-box-shadow: 8px -3px 5px 0px rgba(0,0,0,0.29);
-moz-box-shadow: 8px -3px 5px 0px rgba(0,0,0,0.29);
    padding: 1em 1em ;
}

.but{
    background-color: rgba(75, 165, 23, 0.688);
    border-style: none;
    border-radius: 5%;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.but:hover{
    transform: scale(1.05);
}
main{
    div{
        margin-top: 3em;
        margin-left: 3em;
        margin-right: 3em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right:1em ;
        background-color: rgba(141, 207, 103, 0.308);
        border-radius: 3% 15% 3% 15%;
        backdrop-filter: blur(2px);
        text-align: center;

    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
}

.bienvenida-container{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    #bienvenida{
        background-color: rgba(91, 143, 60, 0.799);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        transition: all 0.3s ease-in-out;
    }
    #bienvenida:hover{
        background-color: rgba(141, 207, 103, 0.308);
        transform: all 0.3s ease-in-out;
    }
}
.form-Index{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    h2{
        color: rgb(255, 255, 255);
    }
    h3{
        color: rgb(255, 255, 255);
    }
}